#footer {
  // padding: 1em 0 1em 0 ;
  // height: 100px;
  flex-shrink: 0;
  
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  font-family: Helvetica-Light;     // overwrites default times new roman
}

.push {
  height: 100px;
}

.icons {
  li {
    display: inline-block;
    margin: 1rem 1rem;
    a {
      color: white;
      &:hover {
        color: purple;
      }
      &visited {
        color: white;
      }
    }
  }
}

.copyright {
  li {
    display: inline-block;
    margin: 1rem .70rem;
    a {
      color: white;
      
      &visited {
        color: white;
      }
    }
  }
}