// .mondrian-text-labels {
//   z-index: 40;
//   color: pink;
// }

table#legend {
  margin-top: 3rem;
  width: 18rem;
  // background: pink;
}

// For div colors in legend
#red, #blue, #white, #grey, #yellow {
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  border: 1px solid black;
}

#red {
  background: red;
}

#blue {
  background: blue;
}

#white {
  background: white
}

#grey {
  background: grey;
}

#yellow {
  background: yellow;
}

.ratio {
  width: 55%;
}

.percent {
  width: 30%;
}
