// .mondrian-text-labels {
//   z-index: 40;
//   color: pink;
// }

#svg-container {
  display: inline-block;
}

table#legend {
  margin-top: 3rem;
  // margin-top: 5rem;
  margin-left: 2rem;
  width: 18rem;
  display: inline-block;
  // background: pink;
  vertical-align: top;
}

// For div colors in legend
#red, #blue, #white, #grey, #yellow {
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  border: 1px solid black;
}

#red {
  background: red;
}

#blue {
  background: blue;
}

#white {
  background: white
}

#grey {
  background: grey;
}

#yellow {
  background: yellow;
}

.ratio {
  width: 55%;
}

.percent {
  width: 30%;
}


// rectangles on mouse hover, change fill color
// #operating-margin:hover {
//   fill: green;
// }
// [ "leverage", "asset-turnover", "operating-margin", "interest-burden", "tax-burden" ]

.rectangle:hover {
  opacity: .8;
}


#title-container {
  display: block;
  margin-bottom: 2rem;
}

#title {
  font-size: 2rem;
}

#percentage {
  font-size: 2rem;
}

.tooltip-label {
  position: relative;
  display: inline-block;
}

.tooltip-label .tooltiptext {
  visibility: hidden;
  width: 260px;
  background: grey;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Positioning the tooltip */
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

.tooltip-label:hover .tooltiptext {
  visibility: visible;
}
